<div class="row">

	<div class="col-sm-4">
		<div class="page-header">
			<h1>Add it</h1>
		</div>
		<form role="form" ng-submit="addItems()">
			<div class="form-group">
				<label for="header">Header</label> <input type="text"
					required="required" class="form-control" id="header"
					placeholder="Enter header" ng-model="newHeader">
			</div>

			<div class="form-group">
				<label for="content">Content</label>
				<textarea class="form-control" id="content" placeholder="Content"
					required="required" rows="20" ng-model="newContent"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<div class="col-sm-4">
		<div class="page-header">
			<h1>See it</h1>
		</div>
		<div class="panel-group" id="accordion">

			<div class="panel panel-default" ng-repeat="item in items">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion"
							href="#collapse{{$index}}" target="_self"> {{item.header}} </a>
						<button type="button" class="close" ng-click="removeItem($index)">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
					</h4>
				</div>
				<div id="collapse{{$index}}" class="panel-collapse collapse">
					<div class="panel-body">
						<div ng-bind-html="item.content"></div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="col-sm-4">
		<div class="page-header">
			<h1>Take it</h1>
		</div>
		<pre>{{rawHtml}}</pre>
	</div>

</div>
